extends layout

block content
	h1 Уважаемый #{name}!
	p Вы написали требуемое количество статей и ваш статус был повышен до Опытного пользователя. Теперь вы можете публиковать статьи напрямую, без предварительной проверки администратором.
	p Спасибо за то, что Вы с нами!