extends basis/layout

block content
	h1 Создать статью
	form(method="post" enctype="multipart/form-data")
		input(type="text" name="title" placeholder="Название статьи" required)
		br
		textarea(name="text" placeholder="Текст статьи" id="article_text" required)
		br
		select(name="hub")
			- for(var i = 0; i < data0.length; i++)
				option(value=data0[i].id)=data0[i].name
		br
		input(type="text" name="tags" placeholder="Теги через запятую" required)
		br
		article.files
			input(type="file" name="f0" class="image_load" data-load="true")
			br
		b
			input(type="checkbox" name="draft")
			| В черновик
		br
		input(type="submit" value="Отправить")