h1 Создать статью
form(method="post")
	input(type="text" name="title" placeholder="Название статьи" required)
	br
	textarea(name="text" placeholder="Текст статьи")
	br
	input(type="submit" value="Отправить")