extends basis/layout

block content
	mixin article_full(data0)
	form(method="post")
		input(type="hidden" name="type" value="1")
		input(type="submit" value="Опубликовать")
	br
	form(method="post")
		input(type="hidden" name="type" value="2")
		input(type="submit" value="Редактировать")
	br
	form(method="post")
		input(type="hidden" name="type" value="3")
		input(type="submit" value="Удалить")