form(method="post")
	input(type="text" name="login" placeholder="login" required)
	br
	input(type="password" name="pass" placeholder="pass" required)
	br
	input(type="checkbox" name="remember")
	br
	input(type="submit" value="Войти")