extends basis/layout

block content
	h1 Песочница
	- each item in data0
		mixin article_short_sandbox(item)
	- if(data2.current != 0)
		- var prev = +data2.current - 1
		a(href="/sandbox/" + prev)
			input(type="button" value="Предыдущая")
	- if(data2.current != data2.total)
		- var next = +data2.current + 1
		a(href="/sandbox/" + next)
			input(type="button" value="Следующая")