extends ../basis/layout

block content
	h1 Статьи #{data1.name}
	//- Перебор и рендер статей
	- each item in data0
		mixin article_short(item)
	//- Постраничная навигация
	- if(data2.current != 0)
		- var prev = +data2.current - 1
		a(href="/author/" + data1.name + '/' + prev)
			input(type="button" value="Предыдущая")
	- if(data2.current != data2.total)
		- var next = +data2.current + 1
		a(href="/author/" + data1.name + '/' + next)
			input(type="button" value="Следующая")