doctype
html(lang="ru")
	head
		meta(charset="UTF-8")
		title MedTalks
		script(src="/source/js/jquery.js")
		script(src="/source/js/main.js")
		include mixins
	body
		form(action="/search" method="post")
			input(type="text" name="search" placeholder="Поиск")
			input(type="submit" value="Поиск")
		- if(auth)
			a(href="/profile") Профиль
			a(href="/exit") Выход
		- else
			a(href="/login") Вход
			a(href="/registration") Регистрация
		block content